@{
    List<Pizza> ListPizza = new List<Pizza>();

    ListPizza.Add(new Pizza("Pizza Margherita", "bona come er pane", "https://media-assets.vanityfair.it/photos/61e444841e21bc3bd54b5357/1:1/w_2832,h_2832,c_limit/pizza%20tendenze.jpg", 3.99));
    ListPizza.Add(new Pizza("Pizza Capricciosa", "idem co patate", "https://media-assets.vanityfair.it/photos/61e444841e21bc3bd54b5357/1:1/w_2832,h_2832,c_limit/pizza%20tendenze.jpg", 7.99));
    ListPizza.Add(new Pizza("Pizza Diavola", "er duca", "https://media-assets.vanityfair.it/photos/61e444841e21bc3bd54b5357/1:1/w_2832,h_2832,c_limit/pizza%20tendenze.jpg", 12.99));
    ListPizza.Add(new Pizza("Pizza Quattro Formaggi", "fiocina", "https://media-assets.vanityfair.it/photos/61e444841e21bc3bd54b5357/1:1/w_2832,h_2832,c_limit/pizza%20tendenze.jpg", 9.99));
    ListPizza.Add(new Pizza("Pizza Coi Funghi", "er monnezza", "https://media-assets.vanityfair.it/photos/61e444841e21bc3bd54b5357/1:1/w_2832,h_2832,c_limit/pizza%20tendenze.jpg", 11.99));
    ListPizza.Add(new Pizza("Pizza Salsiccia e Salame", "tonino u lurdu", "https://media-assets.vanityfair.it/photos/61e444841e21bc3bd54b5357/1:1/w_2832,h_2832,c_limit/pizza%20tendenze.jpg", 5.99));
}

<div class="container">
    <h1 class="text-center display-4">Welcome to Pizzeria Totò Sapore</h1>
    <table class="table table-dark table-striped table-hover mt-4">
        <thead>
            <tr>
                <th scope="col" width="20%">Nome</th>
                <th scope="col" width="20%">Descrizione</th>
                <th scope="col" width="20%">Immagine</th>
                <th scope="col" width="20%">Prezzo</th>
                <th scope="col" width="20%">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
            }
            @foreach (var pizza in ListPizza)
            {
                <tr>                    
                    <td>
                        <h3>@pizza.Name</h3>
                    </td>
                    <td>
                        <p>@pizza.Description</p>
                    </td>
                    <td>
                        <img width="100" src="@pizza.Image">
                    </td>
                    <td>
                        <h4>@pizza.Price€</h4>
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Pizza", new {Id = count++})" class="btn btn-outline-info">
                            Visualizza
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
